<footer class="footer border-top border-neutral-200 ">
  <div class="mx-4 my-2 ">
    <!-- 各種功能 -->
    <div class="footer-functions d-flex ">
      <!-- 話題 -->
      <div
        class="footer-function d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="/assets/images/issue.svg"
          alt="話題的icon, 一個麥克風"
          class="mb-1"
        />
        <p class="fs-9 text-neutral-400 mb-0">話題</p>
      </div>
      <!-- 聊天室 -->
      <div
        class="footer-function d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="/assets/images/chat_room_off.svg"
          alt="一個字寫著嗨"
          class="mb-1"
          
        />
        <p class="fs-9 text-neutral-400 mb-0">聊天室</p>
      </div>
      <!-- 夥伴 -->
      <div
        class="footer-function d-flex flex-column justify-content-center align-items-center position-relative"
      >
        <img
          src="/assets/images/mate_off.svg"
          alt="一杯珍奶的圖案"
          class="mb-1 mate-icon"
        />
        <p class="fs-9 text-neutral-800 mate-text mb-0">夥伴</p>
      </div>
      <!-- 通知 -->
      <div
        class="footer-function d-flex flex-column justify-content-center align-items-center"
      >
        <img src="/assets/images/message_off.svg" alt="一個叮字" class="mb-1" />
        <p class="fs-9 text-neutral-400 mb-0">通知</p>
      </div>
      <!-- 個人 -->
      <div
        class="footer-function d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="/assets/images/boy_off.svg"
          alt="一個可愛的人臉"
          class="mb-1"
        />
        <p class="fs-9 text-neutral-400 mb-0">個人</p>
      </div>
    </div>
  </div>
</footer>
