<footer class="footer">
  <div>
    <!-- <div class="mx-4"> -->
    <!-- 各種功能 -->
    <div class="footer-functions d-flex">
      <!-- 話題 -->
      <div
        class="footer-function d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="/assets/images/issue.svg"
          alt="話題的icon, 一個麥克風"
          class="mb-1 footer-active"
        />
        <p class="fs-9 text-neutral-800">話題</p>
      </div>
      <!-- 聊天室 -->
      <a
        href="#"
        class="footer-function d-flex flex-column justify-content-center align-items-center text-decoration-none"
      >
        <img
          src="/assets/images/chat_room_off.svg"
          alt="一個字寫著嗨"
          class="mb-1"
        />
        <p class="fs-9 text-neutral-400">聊天室</p>
      </a>
      <!-- 夥伴 -->
      <a
        href="#"
        class="footer-function d-flex flex-column justify-content-center align-items-center text-decoration-none"
      >
        <img
          src="/assets/images/mate_off.svg"
          alt="一杯珍奶的圖案"
          class="mb-1"
        />
        <p class="fs-9 text-neutral-400">夥伴</p>
      </a>
      <!-- 通知 -->
      <a
        href="#"
        class="footer-function d-flex flex-column justify-content-center align-items-center text-decoration-none"
      >
        <img src="/assets/images/message_off.svg" alt="一個叮字" class="mb-1" />
        <p class="fs-9 text-neutral-400">通知</p>
      </a>
      <!-- 個人 -->
      <a
        href="#"
        class="footer-function d-flex flex-column justify-content-center align-items-center text-decoration-none"
      >
        <img
          src="/assets/images/boy_off.svg"
          alt="一個可愛的人臉"
          class="mb-1"
        />
        <p class="fs-9 text-neutral-400">個人</p>
      </a>
    </div>
  </div>
</footer>
