@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import "../../node_modules/bootstrap";

@import"/assets/scss/utils/utilities";

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/appframework';
@import './pages/index.scss';




@import './pages/2.scss';
@import './pages/3.scss';
@import './pages/4.scss';
@import './pages/7.scss';
@import './pages/5.scss';
@import './pages/6.scss';
@import './pages/8.scss';
@import './pages/9.scss';
@import './pages/10.scss';