.icons{
    p{
        margin-bottom: -3px;
    }
}
.postcard-facepic{
    width: 36px;
    height: 36px;
}
.viewCard{

  border-top: 1px solid ;    /* 上 */
  border-right: 1px solid ;  /* 右 */
  border-bottom: 4px solid ; /* 下 */
  border-left: 1px solid ;   /* 左 */
  border-radius: 1rem;              /* 圓角 1rem */
}
